main > img:nth-of-type(1) {
    display: block;
    width: 9.5em;
    height: auto;
    margin: 0 auto;
    position: relative;
    z-index: 5; 
    margin-bottom: 0em; 
}

main > article:nth-of-type(1) {
    background-color: #41b392;
    padding-top: 0;
    padding-bottom: 3.5em;
    position: relative; 
    z-index: 1; 
}

main article:nth-of-type(1)::before {
    content: "";
    position: absolute;
    top: -7em; 
    left: 0;
    right: 0;
    height: 7.5em;
    background-color: #41b392;
    z-index: -1; 
}

main article:nth-of-type(1) h2 {
    text-align: center;
    font-size: 28px
}

main > article:nth-of-type(1) section:nth-of-type(1) {
    background-color: white;
    padding: 1.25em;
    padding-top: 2.85em;
    margin: 0 1.25em;
}

main section:nth-of-type(1) ul {
    list-style: none;
    padding: 0;
}

main > article:nth-of-type(1) section:nth-of-type(1) ul li {
    color: var(--tekstkleur-4);
    padding-left: 1.5rem;
    margin-bottom: 0.75rem;
    background-image: url("../images/functional-images/checkmark-asn.svg");
    background-repeat: no-repeat;
    background-position: 0 0.25em;
    fill: #761234;
    background-size: 0.80rem 0.80rem;
}

main > article:nth-of-type(1) section:nth-child(3), main > article:nth-of-type(1) section:nth-child(4) {
    background-color: white;
    margin: 0 1.25em;
    padding: 1.25em;
    padding-top: 0; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

main section:nth-of-type(2) img, main section:nth-of-type(3) img {
    height: auto;
    width: 5em;
    margin-bottom: 0.5em; 
}

main section:nth-of-type(2) a, main section:nth-of-type(3) a {
    color: var(--achtergrondkleur-4);
    font-family: var(--lettertpe-3);
    font-weight: 700;
    padding: 0.75em; 
}

main article:nth-of-type(1) section:nth-of-type(2) a img, main article:nth-of-type(1) section:nth-of-type(3) a img {
    height: auto;
    width: 1em;
    margin: 0;
    margin-left: 0.25em;
}

main > article:nth-of-type(2) {
    padding: 2.25em;
}

main > article:nth-of-type(2) p {
    margin: 0;
    color: var(--tekstkleur-4);
}

main > article:nth-of-type(2) p:nth-of-type(1) {
    margin-top: 0.5em;
    margin-bottom: 2em;
}

main > article:nth-of-type(3) {
    background-color: #f1f4f2;
    padding: 2.25em;
}

main > article:nth-of-type(3) h2 {
    padding-top: 1.25em;
    text-align: center;
    font-size: 28px;
    margin-bottom: 1em;
}

main > article:nth-of-type(3) section:nth-of-type(1) li {
    border-bottom: 1px solid var(--tekstkleur-4);
    margin-bottom: 1.5em;
}

main > article:nth-of-type(3) section:nth-of-type(2) ul {
    list-style: none;
    padding: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > article:nth-of-type(3) section:nth-of-type(2) ul li {
    border-bottom: 1px solid var(--tekstkleur-4);
    margin-bottom: 1.5em;
}

main > article:nth-of-type(3) section:nth-of-type(2) div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main > article:nth-of-type(3) section:nth-of-type(2) div button {
    padding: 0;
    display: flex;
    justify-content: center;
}

main > article:nth-of-type(3) section:nth-of-type(2) div button img {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-left: 0.35em;
}

.listHeader {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.knopJS1 {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-weight: 700;
    color: var(--achtergrondkleur-4);
    padding-left: 3.5em;
}

.knopJS1 img {
    padding-left: 0.35em;
    height: auto;
}

main > article:nth-of-type(4) {
    padding: 3.25em;
}

main > article:nth-of-type(4) img {
    padding: 1em;
    padding-bottom: 0em;
    height: auto;
    width: 30em;
    padding-top: 2em;
}

main > article:nth-of-type(4) ul {
    padding-left: 1em;
}

main > article:nth-of-type(4) button {
    margin-top: 1em;
}

main > img:nth-of-type(2) {
    display: block;
    width: 9.5em;
    height: auto;
    margin: 0 auto;
    position: relative;
    z-index: 5; 
    margin-bottom: 0em; 
}

main > article:nth-of-type(5) {
    background-color: #fdf3e5;
    padding-top: 0;
    padding-bottom: 2em;
    position: relative; 
    z-index: 1; 
}

main > article:nth-of-type(5)::before {
    content: "";
    position: absolute;
    top: -5.5em; 
    left: 0;
    right: 0;
    height: 6em;
    background-color: #fdf3e5;
    z-index: -1; 
}

main > article:nth-of-type(5) div {
    padding: 2em;
    background-color: white;
    margin: 1.75em;
    padding-top: 0;
    margin-top: 0
}

main > article:nth-of-type(5) h2 {
    text-align: center;
    font-size: 22px;
    padding-top: 1em;
}

main > article:nth-of-type(5) ol {
    list-style: none;
    padding: 0;
}

main > article:nth-of-type(5) ol li {
    
}

main > article:nth-of-type(5) p:nth-of-type(1) {
    margin-top: 0.25em
}

main > article:nth-of-type(6) {
    padding: 2.25em;
}

main > article:nth-of-type(6) button{
    margin-top: 1.5em;
}

main > article:nth-of-type(7) {
    padding: 1.5em;
    margin: 2.25em;
    border: 2px solid var(--achtergrondkleur-4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > article:nth-of-type(7) img {
    width: 10em;
    height: auto;
    margin-bottom: 1.5em;
}

main > article:nth-of-type(7) h2 {
    color: #373737;
}



main > article:nth-of-type(7) a {
    color: var(--achtergrondkleur-4);
    font-family: var(--lettertpe-3);
    font-weight: bold;
}

main > article:nth-of-type(7) a img {
    width: 1.15em;
    height: auto;
    margin: 0;
}

