/*􀦊 Voorinstellingen main */
/* Bron: https://github.com/jensimmons/cssremedy/blob/master/css/remedy.css */
img, svg, video, canvas, audio, iframe, embed, object {
    max-width: 100%;
}
  
body {
    margin: 0;
}

main {
    font-family: var(--lettertype-2);
    font-weight: 400;
}

/* 􀃋 Opmaak van de H1's */
h1 {
    font-size: 28px;
    font-family: var(--lettertype-1);
    color: var(--tekstkleur-4);
}

.zichtbareH1 {
    font-size: 28px;
    font-family: var(--lettertype-1);
    color: var(--tekstkleur-4);
    margin-bottom: 0.25em;
}

/* 􀃍 Opmaak van de H2 */
h2 {
    font-size: 22px;
    font-family: var(--lettertype-1);
    color: var(--tekstkleur-3);
    margin: 0;
}

/* 􀃏 Opmaak van de H3 */
h3 {
    font-size: 19px;
    font-family: var(--lettertype-1);
    color: var(--tekstkleur-3);
}

/* 􀃑 Opmaak van de H4 */
h4 {
    font-size: 16px;
    font-family: var(--lettertype-3);
}

p {
    color: var(--tekstkleur-4);
}





/* Opmaak van de main */
main section:nth-of-type(1) {
    background-color: #F1f4f2;
    display: flex;
    flex-direction: column;
    padding: 2.25em;
}

main section:nth-of-type(1) h2 {
    padding-bottom: 0.85em;
}

.zoekbalk {
    display: flex;
    flex-wrap: nowrap;
}

main section:nth-of-type(1) input {
    padding: 1em;
    border-top: 2px solid #d7d7d7;
    border-left: 2px solid #d7d7d7;
    border-right: none;
    border-bottom: 2px solid #d7d7d7;
    border-radius: 0;
    font-family: var(--lettertype-2);
    color: #373737;
    height: 3.5em;
    width: 100%;
    padding-right: 0;
}

main section:nth-of-type(1) button {
    padding: 1em;
    height: 3.5em;
    width: 3.5em;
    border: none;
    background-color: #1f7d65;
}

main section:nth-of-type(1) button svg {
    fill: white;
}

main section:nth-of-type(1) ul {
    list-style: none;
    padding: 0;
    font-family: var(--lettertype-3);
    font-weight: 700;
}

main section:nth-of-type(1) ul li {
    padding-left: 1.5rem;
    margin-bottom: 0.75rem;
    background-image: url("../images/functional-images/chevron-right-asn.svg");
    background-repeat: no-repeat;
    background-position: 0 center;
    fill: #761234;
    background-size: 0.80rem 0.80rem;
}

main section:nth-of-type(1) ul li a {
    text-decoration: none;
    color: var(--achtergrondkleur-4);
}


/* 􀌯 Bron: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/Child_combinator */
main > article:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 2.25em;
}

main > article:nth-of-type(1) img {
    height: auto;
    width: 15em;
    padding: 1.5em;
    align-self: center;
}

main section:nth-of-type(2) {
    background-color: #fdf3e5;
}

main section:nth-of-type(2) div {
    
}









/* Opmaak van de footer */
footer {
    background-color: var(--achtergrondkleur-4);
}