main > img:nth-of-type(1) {
    display: block;
    width: 9.5em;
    height: auto;
    margin: 0 auto;
    position: relative;
    z-index: 5; 
    margin-bottom: 0em; 
}

main > article:nth-of-type(1) {
    background-color: #41b392;
    padding-top: 0;
    padding-bottom: 3.5em;
    position: relative; 
    z-index: 1; 
}

main article:nth-of-type(1)::before {
    content: "";
    position: absolute;
    top: -7em; 
    left: 0;
    right: 0;
    height: 7.5em;
    background-color: #41b392;
    z-index: -1; 
}

main > article:nth-of-type(1) h2 {
    text-align: center;
    font-size: 28px
}

main > article:nth-of-type(1) section:nth-of-type(1) {
    background-color: white;
    padding: 1.25em;
    padding-top: 2.85em;
    margin: 0 1.25em;
}

main section:nth-of-type(1) ul {
    list-style: none;
    padding: 0;
}

main > article:nth-of-type(1) section:nth-of-type(1) ul li {
    color: var(--tekstkleur-4);
    padding-left: 1.5rem;
    margin-bottom: 0.75rem;
    background-image: url("../images/functional-images/checkmark-asn.svg");
    background-repeat: no-repeat;
    background-position: 0 0.25em;
    fill: #761234;
    background-size: 0.80rem 0.80rem;
}

main > article:nth-of-type(1) section:nth-of-type(2) img {
    margin-bottom: 0.5em;
}

main > article:nth-of-type(1) section:nth-child(3), main > article:nth-of-type(1) section:nth-child(4) {
    background-color: white;
    margin: 0 1.25em;
    padding: 1.25em;
    padding-top: 0; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

main > section:nth-of-type(2) img, main section:nth-of-type(3) img {
    height: auto;
    width: 5em;
    margin-bottom: 0.5em; 
}

main section:nth-of-type(2) a, main section:nth-of-type(3) a {
    color: var(--achtergrondkleur-4);
    font-family: var(--lettertpe-3);
    font-weight: 700;
    padding: 0.75em; 
}

main article:nth-of-type(1) section:nth-of-type(2) a img, main article:nth-of-type(1) section:nth-of-type(3) a img {
    height: auto;
    width: 1em;
    margin: 0;
    margin-left: 0.25em;
}

main > article:nth-of-type(2) {
    padding: 2.25em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 10px 15px -5px rgba(0,0,0,0.05), 0 5px 5px -5px rgba(0,0,0,0.04);
}

main > article:nth-of-type(2) p {
    margin: 0;
    color: var(--tekstkleur-4);
}

main > article:nth-of-type(2) p:nth-of-type(1) {
    margin-top: 0.5em;
    margin-bottom: 2em;
}

main > article:nth-of-type(3) {
    background-color: #f1f4f2;
    padding: 2.25em;
}

main > article:nth-of-type(3) h2 {
    padding-top: 1.25em;
    text-align: center;
    font-size: 28px;
    margin-bottom: 1em;
}

main > article:nth-of-type(3) section:nth-of-type(1) li {
    border-bottom: 1px solid var(--tekstkleur-4);
    margin-bottom: 1.5em;
}

main > article:nth-of-type(3) section:nth-of-type(2) ul {
    list-style: none;
    padding: 0; 
    display: block;
}

main > article:nth-of-type(3) section ul li {
    width: 100%;
    border-bottom: 1px solid var(--tekstkleur-4);
    margin-bottom: 1.5em;
    display: block;
}

.listHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.listHeader h4 {
    margin: 0;
    flex: 1; 
    padding-bottom: 0.25em;
}

.knopJS1 {
    border: none;
    background-color: transparent;
    color: var(--achtergrondkleur-4);
    font-weight: 700;
    display: flex;
    align-items: center;
    white-space: nowrap; 
    cursor: pointer;
    padding: 0.5em 0; 
}

.knopJS1 img {
    margin-left: 0.5em;
    width: 1.2em; 
    height: auto;
}

main > article:nth-of-type(4) {
    padding: 3.25em;
}

main > article:nth-of-type(4) img {
    padding: 1em;
    padding-bottom: 0em;
    height: auto;
    width: 30em;
    padding-top: 2em;
}

main > article:nth-of-type(4) ul {
    padding-left: 1em;
}

main > article:nth-of-type(4) button {
    margin-top: 1em;
}

main > img:nth-of-type(2) {
    display: block;
    width: 9.5em;
    height: auto;
    margin: 0 auto;
    position: relative;
    z-index: 5; 
    margin-bottom: 0em; 
}

main > article:nth-of-type(5) {
    background-color: #fdf3e5;
    padding-top: 0;
    padding-bottom: 2em;
    position: relative; 
    z-index: 1; 
}

main > article:nth-of-type(5)::before {
    content: "";
    position: absolute;
    top: -5.5em; 
    left: 0;
    right: 0;
    height: 6em;
    background-color: #fdf3e5;
    z-index: -1; 
}

main > article:nth-of-type(5) div {
    padding: 2em;
    background-color: white;
    margin: 1.75em;
    padding-top: 0;
    margin-top: 0;
}

main > article:nth-of-type(5) div li:nth-child(odd) {
    padding-top: 1em;
}

main > article:nth-of-type(5) div li:nth-child(even) {
    color: var(--achtergrondkleur-4);
    font-family: var(--lettertype-3);
    font-weight: 700;
    font-size: 20px;
    padding: 1em 0;
    border-bottom: 1px solid #ededed;
}

main > article:nth-of-type(5) h2 {
    text-align: center;
    font-size: 22px;
    padding-top: 1em;
}

main > article:nth-of-type(5) ol {
    list-style: none;
    padding: 0;
}

main > article:nth-of-type(5) p:nth-of-type(1) {
    margin-top: 0.25em
}

main > article:nth-of-type(6) {
    padding: 2.25em;
}

main > article:nth-of-type(6) button{
    margin-top: 1.5em;
}

main > article:nth-of-type(7) {
    padding: 1.5em;
    margin: 2.25em;
    border: 2px solid var(--achtergrondkleur-4);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

main > article:nth-of-type(7) img {
    width: 10em;
    height: auto;
    margin-bottom: 1.5em;
}

main > article:nth-of-type(7) h2 {
    color: #373737;
}

main > article:nth-of-type(7) a {
    color: var(--achtergrondkleur-4);
    font-family: var(--lettertype-3);
    font-weight: 700;
}

main > article:nth-of-type(7) a img {
    width: 1.15em;
    height: auto;
    margin: 0;
}

main > article:nth-of-type(8) {
    padding: 2.25em;
}

main > article:nth-of-type(8) ul {
    list-style: none;
    padding: 1.75em;
    margin: 0;
}

main > article:nth-of-type(8) ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 2em;
}

main > article:nth-of-type(8) ul li a {
    margin-top: 2em;
    font-family: var(--lettertype-3);
    font-weight: 700;
    color: var(--achtergrondkleur-4);
}

main > article:nth-of-type(8) ul li a img {
    height: auto;
    width: 1em;
}

main > section > img {
    display: block;
    width: 9.5em;
    height: auto;
    margin: 0 auto;
    position: relative;
    z-index: 5; 
    margin-bottom: 0em; 
}

main > section > article:nth-of-type(1) {
    background-color: #fdf3e5;
    padding-top: 7;
    padding-bottom: 2.5em;
    position: relative; 
    z-index: 1; 
}

main > section > article:nth-of-type(1)::before {
    content: "";
    position: absolute;
    top: -4.75em; 
    left: 0;
    right: 0;
    height: 7.5em;
    background-color: #fdf3e5;
    z-index: -1; 
}

main > section > article:nth-of-type(1) > div {
background-color: white;
padding: 1.25em;
margin: 1.25em;
text-align: left;
box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 10px 15px -5px rgba(0,0,0,0.05), 0 5px 5px -5px rgba(0,0,0,0.04);
margin-top: 0;
}

main > section > article:nth-of-type(1) div h2 {
font-size: 19px;
padding-top: 2em;
}

.zoeken {
    display: flex;
    margin: 0;
    padding: 0;
}

main > section > article:nth-of-type(1) div h2 {
    padding-bottom: 1em; 
}

main > section > article:nth-of-type(1) div input {
    padding: 1em;
    border-top: 2px solid #d7d7d7;
    border-left: 2px solid #d7d7d7;
    border-right: none;
    border-bottom: 2px solid #d7d7d7;
    border-radius: 0;
    font-family: var(--lettertype-2);
    color: #373737;
    height: 3.5em;
    width: 100%;
    padding-right: 0;
}

main > section > article:nth-of-type(1) div button {
    padding: 1em;
    height: 3.5em;
    width: 3.5em;
    border: none;
    background-color: #1f7d65;
}

main > section > article:nth-of-type(1) div button svg {
    fill: white;
}

main > section > article:nth-of-type(2) {
    padding: 1.25em;
    background-color: #fdf3e5;
    padding-bottom: 6em;
    padding-top: 0;
}

main > section > article:nth-of-type(2) ul li {
    display: flex;
    justify-content: space-between;
    padding: 0.25em 0;
    border-bottom: 1px solid #e9e0d4;
    margin: 0.80em 0;
}

main > section > article:nth-of-type(2) ul li img {
    height: auto;
    width: 1.25em;
}

.uitklap1 {
    display: block;
    max-height: 0;      
    overflow: hidden;
    transition: max-height 0.5s ease;
    margin: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.uitklap1.zichtbaar {
    max-height: 500px;
}

.iconmin {
    display: none;
}

p.uitklap1.zichtbaar {
    padding-bottom: 1em;
}